* {
    margin:0;
    padding: 0;
}

.banner-text {
    position: relative;
    text-align: center;
    margin: 0;
}

.banner-text-main {
    position: absolute;
    transform: translate(75%, 75%);
    color: white;
    font-family: Montserrat;
    font-size: 10vw; 
    letter-spacing: 0.02vw;
}

.banner-text-sec {
    position: absolute;
    transform: translate(150%, 1200%);
    color: white;
    font-family: Montserrat;
    font-size: 1.5vw;
}

.banner-link {
    font-size: 1.5vw;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.about-header {
    overflow: hidden;
    text-align: center;
    padding-top: 30px;
    margin: 0; 
    color: #202124;
    background-color: white;
    font-family: Montserrat, Helvetica, sans-serif;
}

.about-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: min(100%, 70rem);
    margin-inline: auto;
    padding-bottom: 6%;
}

h2 {
    padding: 17px;
}

.header-blurb{
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-blurb2{
    text-align: center;
    grid-column: 1 / span 2;
    padding: 20px;
    margin-top: 80px;
    
}

.mascot-image {
    display: block;
    width: 60%;
    height: center;
    margin-left: 15%;
    padding-top: 90px;
    
}

.about-blurb3{
    text-align: center;
    padding-top: 3%;
    grid-column: 2 / span 2;
}

.google-image {
    display: block;
    width: 62%;
    margin-left: 20%;
    height: 68%;
}

.about-blurb4{
    text-align: center;
    padding-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    grid-column: 1 / span 3;
}

.footer-links{
    display: block;
    width: 100%;
    padding: 15px;
    margin: 0;
    overflow: hidden;
    background-color: #74c0fc;
    text-shadow: 2px 2px 5px #096bb7;
}

.footer-text {
    width: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.footer-text1 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-right: 20px;
}

.footer-text2 {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.footer-right{
    float: right;
    padding-right: 25px;
}

.footer-left{
    float: left;
    padding-left: 25px;
}

a:link, a:visited {
    font-family: Montserrat;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}